/* About Section */
section.about-section {
    position: relative;
}

/* GRID */
section.about-section .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    min-height: 300px;
}

/* LEFT CONTENT */
section.about-section .about-grid .about-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.about-section .about-grid .about-left h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 12px;
}

section.about-section .about-grid .about-left p {
    font-size: 1.05rem;
    line-height: 1.5;
    color: #555;
}

/* RIGHT IMAGE */
section.about-section .about-grid .about-right {
    position: relative;
    width: 100%;
}

section.about-section .about-grid .about-right .about-img {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
}

/* three box */
section.about-section .about-three-part {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
}

section.about-section .about-three-part .info-box {
    background: var(--color-white);
    padding: 19px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

section.about-section .about-three-part .info-box h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
}

section.about-section .about-three-part .info-box p {
    margin-top: 5px;
    font-size: 16px;
    color: #444;
}

@media (max-width: 992px) {
    section.about-section .about-grid {
        grid-template-columns: 1fr;
        text-align: center;
        min-height: auto;
    }

    section.about-section .about-grid .about-left h2 {
        margin-top: 25px;
    }

    section.about-section .about-grid .about-left {
        align-items: center;
    }

    section.about-section .about-grid .about-right .about-img {
        margin: 20px auto 0;
        max-width: 300px;
        width: 70%;
    }

    section.about-section .about-three-part .info-box {
        width: 30%;
        padding: 8px;
    }

    section.about-section .about-three-part {
        gap: 20px;
    }
}

@media (max-width: 600px) {

    section.about-section .about-grid .about-left h2 {
        font-size: 1.7rem;
        margin-top: 25px;
    }

    section.about-section .about-grid .about-left p {
        font-size: 0.95rem;
    }

    section.about-section .about-grid .about-right .about-img {
        max-width: 300px;
        width: 100%;
    }

    section.about-section .about-three-part {
        gap: 10px;
    }

    section.about-section .about-three-part .info-box p {
        font-size: 14px;
    }

    section.about-section .about-three-part .info-box h3 {
        font-size: 17px;
    }
}

/* welding section */
section.welding-section {
    background-color: var(--color-primary);
    padding: 24px 0;
    margin-top: 20px;
    color: var(--color-white);
}

section.welding-section .welding-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

section.welding-section .welding-left h1 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-white);
}

section.welding-section .welding-left h1 span {
    color: #FFBF34;
}

section.welding-section .welding-right p {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--color-white);
}

section.welding-section .img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

section.welding-section .img-section .img-box {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

/* ----------------- Responsive ----------------- */
@media (max-width: 992px) {
    section.welding-section .welding-grid {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 25px;
    }

    section.welding-section .welding-grid .welding-left h1 {
        font-size: 2.3rem;
    }

    section.welding-section .welding-grid .welding-right p {
        margin: 0 auto;
        font-size: 1rem;
    }

    section.welding-section .img-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    section.welding-section {
        padding: 30px 0;
    }

    section.welding-section .welding-grid .welding-left h1 {
        font-size: 32px;
    }

    section.welding-section .welding-grid .welding-right p {
        font-size: 14px;
    }

    section.welding-section .img-section {
        grid-template-columns: 1fr;
    }
}

/* corporate section */
section.corporate-section {
    background-image: url("../images/corporate-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    margin-top: 40px;
    position: relative;
    color: var(--color-white);
}

section.corporate-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(86, 86, 86, 0.5);
}

section.corporate-section .section-title {
    text-align: center;
    font-size: 36px;
    color: var(--color-white);
    margin-bottom: 40px;
    font-weight: 700;
}

section.corporate-section .culture-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

section.corporate-section .culture-grid .culture-card {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.05);
    transition: 0.3s ease;
}

section.corporate-section .culture-grid .culture-card:hover {
    background: rgba(255, 255, 255, 0.12);
    transform: translateY(-6px);
}

section.corporate-section .culture-grid .culture-card .icon {
    font-size: 45px;
    margin-bottom: 15px;
}

section.corporate-section .culture-grid .culture-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

section.corporate-section .culture-grid .culture-card p {
    font-size: 15px;
    opacity: 0.9;
    line-height: 1.6;
}

/* Responsive */
@media (max-width: 992px) {
   section.corporate-section .culture-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
   section.corporate-section .culture-grid {
        grid-template-columns: 1fr;
    }

    section.corporate-section .section-title {
        font-size: 28px;
    }
}