/* Feature Section */
section.feature-section {
    padding: 30px 0;
}

section.feature-section .feature-grid {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    /* align-items: center; */
}

section.feature-section .feature-grid .feature-title {
    flex: 1;
}

section.feature-section .feature-grid .feature-title h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: var(--color-black);
}

section.feature-section .feature-grid .feature-content {
    flex: 1;
}

/* ICONS BOX */
section.feature-section .feature-grid .feature-content .feature-icons {
    background-color: #EDF6F8;
    padding: 20px 25px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: relative;
}

section.feature-section .feature-grid .feature-content .feature-icons img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    position: relative;
    margin-left: -15px;
    transition: 0.3s ease;
}

section.feature-section .feature-grid .feature-content .feature-icons img:first-child {
    margin-left: 0;
}

.feature-1 {
    width: 60px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -15px;
}

section.feature-section .feature-grid .feature-content .feature-icons .feature-1:first-child {
    margin-left: 0;
}

section.feature-section .feature-grid .feature-content .feature-icons .machine-title {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

section.feature-section .feature-grid .feature-content .feature-icons .machine-title h1 {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-black);
}

section.feature-section .feature-grid .feature-content p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 26px;
    color: #444;
}


/* Responsive */
@media (max-width: 768px) {
    section.feature-section .feature-grid {
        flex-direction: column;
        text-align: center;
    }

    section.feature-section .feature-grid .feature-content .feature-icons {
        justify-content: center;
    }

    section.feature-section .feature-grid .feature-content .feature-icons img,
    section.feature-section .feature-grid .feature-content .feature-icons .feature-1 {
        margin-left: -10px;
    }

    section.feature-section .feature-grid .feature-title h2 {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (max-width: 568px) {
    section.feature-section .feature-grid .feature-title h2 {
        font-size: 20px;
        line-height: 30px;
    }

    section.feature-section .feature-grid .feature-content .feature-icons .machine-title h1 {
        font-size: 24px;
    }
}

/* feature img box */
.feature-img-section {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}

.feature-img-section .feature-img-left .left-main-img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.feature-img-section .feature-img-left .feature-box-grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    gap: 15px;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 {
    background-color: #5271AA;
    border-radius: 10px;
    padding: 15px;
    color: var(--color-white);
    position: relative;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .top-icon {
    width: 50px;
    height: 50px;
    background: #e8eef9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .top-icon i {
    font-size: 24px;
    color: var(--color-primary);
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .content-wrapper .text-content {
    flex: 1;
    padding-right: 15px;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .content-wrapper .text-content h2 {
    margin: 0 0 5px;
    font-size: 20px;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .content-wrapper .text-content p {
    margin: 0;
    font-size: 15px;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .content-wrapper .text-content .feature-group {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box1 .content-wrapper .right-arrow i {
    font-size: 20px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 50%;
    transition: 0.3s;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transform: rotate(-30deg);
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box2 {
    background-color: #F3F4F6;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    color: var(--color-primary);
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box2 h2 {
    font-size: 30px;
    font-weight: 600;
}

.feature-img-section .feature-img-left .feature-box-grid .feature-box2 h5 {
    font-size: 20px;
    font-weight: 600;
}

.feature-img-section .feature-img-right .right-img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 992px) {
    .feature-img-section {
        grid-template-columns: 1fr;
    }

    .feature-img-section .feature-img-right .right-img {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 600px) {
    .feature-img-section .feature-img-left .feature-box-grid {
        grid-template-columns: 1fr;
    }
}

/* All BLog Posts */
section.blog-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

section.blog-section .blog-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}

section.blog-section .blog-main .blog-card {
    background: var(--color-white);
    border-radius: 12px;
    /* padding: 15px; */
    /* box-shadow: 0 4px 20px rgba(0,0,0,0.05);  */
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.blog-section .blog-main .blog-card img {
    width: 100%;
    height: 230px;
    border-radius: 12px;
    margin-bottom: 8px;
}

section.blog-section .blog-main .blog-card .blog-content {
    display: flex;
    justify-content: space-between;
}

section.blog-section .blog-main .blog-card .blog-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary);
}

section.blog-section .blog-main .blog-card h2 {
    font-size: 20px;
}

/* Blog description */
section.blog-section .blog-main .blog-card p {
    color: #666;
    font-size: 14px;
}

section.blog-section .blog-main .blog-card .blog-bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

section.blog-section .blog-main .blog-card .blog-bottom img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

section.blog-section .blog-main .blog-card .blog-bottom p {
    font-size: 14px;
    color: #444;
}

@media (max-width: 992px) {
    section.blog-section .blog-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    section.blog-section .blog-main {
        grid-template-columns: 1fr;
    }

    section.blog-section .blog-main .blog-card .blog-content h3 {
        font-size: 14px;
    }
}