section.contact-hero-section {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* blog page  */
section.blog-hero-section {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/blog-hero-shape.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.contact-hero-section h1 {
    color: var(--color-white);
    font-size: 35px;
    font-weight: 600;
    z-index: 2;
    position: relative;
}

section.contact-hero-section .hero-overlay-img {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

section.contact-hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(22, 22, 22, 0.55);
    z-index: 1;
}

@media (max-width: 1024px) {
    section.contact-hero-section {
        height: 280px;
        padding: 20px;
    }

    section.contact-hero-section h1 {
        font-size: 32px;
    }
}

@media (max-width:768px) {
    section.contact-hero-section .hero-overlay-img {
        width: 100%;
    }

    section.contact-hero-section {
        height: 260px;
    }

    section.contact-hero-section h1 {
        font-size: 28px;
    }
}

@media (max-width:480px) {
    section.contact-hero-section {
        height: 220px;
    }

    section.contact-hero-section h1 {
        font-size: 24px;
    }
}